.contactPage{
    background-color: white;    
    padding: 10vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
}

.contactContainer{
    width: 100%;
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contactItem{
    border: solid black 1px;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0,0 ,1);
    width: 80%;
    height: 50px;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
}

.otherContactItems{
    font-size: 42px;
    display: flex;
    justify-content: center;
    gap:15px;
    width: 80%;
}