ul{
    display: flex;    
    justify-content: flex-end;
    gap: 20px;    
    padding: 20px 20px 20px 20px ;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;   
}

ul li:first-child{
    font-weight: bold;
}

li{
    list-style-type: none;    
}

.navItem{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.navItem:hover{
    padding: 5px;    
    background-color: #e07d54;
    box-shadow: 5px 5px 5px rgba(0,0,0,1);
    color: white
}