ul{
    display: flex;    
    gap: 20px;    
    font-size: 18px;
    box-sizing: border-box;
    width: 95%;
    height: 10vh;
    box-sizing: border-box;   
    position: fixed;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 20px;
}

ul li:first-child{
    font-weight: bold;
}

li{
    list-style-type: none;    
}

.navItem{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.navItem:hover{
    padding: 5px;    
    background-color: #e07d54;
    box-shadow: 5px 5px 5px rgba(0,0,0,1);
    color: white
}